export("readMethylome", "readSNPTable", "removeSNPs", "plotAlphaDistributionOneChr", "segmentPMDs", "plotPMDSegmentation", "savePMDSegments","calculateFDRs", "segmentUMRsLMRs", "plotFinalSegmentation", "saveUMRLMRSegments")
import(IRanges, BSgenome)
importFrom(GenomicRanges, GRanges)
importFrom(graphics, abline, axis, barplot, box, hist, legend, lines, par, plot, points, rect, smoothScatter, text)
importFrom(grDevices, dev.off, grey.colors, pdf)
importFrom(mhsmm, dnorm.hsmm, hmmfit, hmmspec, mstep.norm)
importFrom(parallel, mclapply)
importFrom(stats, dnorm)
importFrom(utils, write.table)
importFrom(GenomeInfoDb, Seqinfo)
